html,body{
  overflow-x: hidden;

}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

/* Adjust the animation for smaller screens if needed */
@media (max-width: 640px) {
  .animate-floating {
    animation: floating 2s ease-in-out infinite;
  }
}

